.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
}

.divZoom{
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}

.divZoom:hover {
    transform: scale(1.02);
}

.poster{
    max-height: 250px;
    margin-right: 10px;
}


.smallPoster{
    max-height: 150px;
    margin-right: 10px;
}



.posterTitle{
    position: absolute;
    margin: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.399);
}

.smallPosterTitle{
    position: absolute;
    font-size: 12px;
    margin: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.399);
}

